*{
    box-sizing:border-box;
}
body{
    width: 100%;
    margin: 0;
    margin-bottom: 80px;
    padding:0;

    font-family: 'Merienda', cursive;
    background-color: #000;
    /*background-image: url("../img/guitarra2.jpg");*/
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}

header{
    background: #682444;
    color: white;
    padding: 3px 10px;
    width: 100%;
    /*height: 70px;*/
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 3fr;
    align-items: center;
    
    /*position: fixed;
    top:0;
    box-sizing:border-box;*/
}
header h1{
    margin:3px;
    display: inline-block;
}
header img{
    width: 130px;
}

header ul, header ul li{
    display: inline-block;
    text-align: right;
}

header ul li{
    margin: 5px;
}

#presentacion{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px
}


main{
    max-width: 980px;
    min-width: 375px;
    margin: 20px auto;
    /*background-color: rgba(255, 255, 255, 0.8);*/
}


footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #682444;
    color: white;
    padding: 3px 10px;
    height: 70px;
    box-sizing:border-box;
}

#eventos{
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(350px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

evento-figi, interprete-info{
    background-color: rgba(255, 255, 255, 0.8);
}

#presentacion video{
    width: 100%;
}

#interpreteResumen {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    padding: 20px 60px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.9);
    color:white;
    overflow:scroll;

    background-size: inherit;
    background-repeat: no-repeat;
    background-position: top ;
}


.imgInterpreteInfo {
    max-width: 800px;
    display: block;
    width:100%;
    margin: 0 auto;
}


#interpreteResumen h3{
    font-size: 3em;
    margin: 25px 0;
}

#cierre {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 1.2em;
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 5px;
    border-radius: 50%;
}
#cierre:hover {
    background-color:rgb(111, 132, 201);
    font-weight: bold;
}